.button__categ {
  display: flex;
  position: absolute;
  top: 140px;
  left: 900px;
  text-align: center;
}

.question {
  margin-top: 70px;
  margin-bottom: 100px;
  font-size: 28px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.img__for__pictures {
  width: 80%;
  height: 520px;
  border-radius: 15px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1074px) {
  .img__for__pictures {
    height: 90vh;
    max-height: 600px;
  }
  .button__categ {
    position: absolute;
    left: 60px;
    top: 200px;
  }
  .question {
    font-size: 22px;
    text-align: center;
  }
}