body {
  background-color: lightgrey;

}
.button__categ {
  display: flex;
  position: absolute;
  top: 140px;
  left: 1100px;
  text-align: center;
}

.question {
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.img__for__pictures {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 520px;
  border-radius: 15px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 15px #000;
  position: relative;
 margin: 0 auto;
}

@media screen and (max-width: 1074px) {
  .img__for__pictures {
    height: 90vw;
    max-height: 600px;
    width: 90vw;
  }
  .button__categ {
    position: absolute;
    left: 60px;
    top: 200px;
  }
  .question {
    font-size: 22px;
    text-align: center;
  }
}