.main__wrapper {
  //min-height: calc(100vh - 90px);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: lightgrey;
}

.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  //width: 100%;
}

.header {
  background-image: url("./assets/image/logo.svg");
  width: 220px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
//.main {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  flex-flow: row;
//}
.pictures__block {
  background-image: url("./assets/image/pictures-quiz.jpg");
  width: 415px;
  height: 415px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 1px 6px 5px 1px rgb(0 0 0 / 70%);
  cursor: pointer;
  margin-left: 200px;
}
.artists__block {
  background-image: url("./assets/image/artists-quiz.jpg");
  width: 415px;
  height: 415px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 6px 11px 1px rgb(0 0 0 / 70%);
  cursor: pointer;
  margin-left: 200px;
}

button {
  background-color: #661004;
  border: none;
  box-shadow: 1px 6px 11px 1px rgb(0 0 0 / 70%);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 22px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 55px;
  min-width: 150px;
  outline: none;
  padding: 14px 7px 12px;
  position: relative;
  text-transform: capitalize;
  transition: box-shadow .5s ease;
}
button:hover,
.pic__button:hover {
  transform: scale(1.3);
}

.pic__button {
  position: relative;
  top: 300px;
  left: 100px;
}

.settings {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 12px 37px 10px 12px;
  line-height: 26px;
  font-size: 22px;
}

.settings__button {
  position: relative;
  top: 250px;
  right: 650px;
}

.settings__button-home {
  display: none;
}


@media screen and (max-width: 1054px) {
  .pictures__block,
  .artists__block {
    height: 300px;
    object-fit: cover;
    width: 100%;
    margin-left: 0;
  }
  .pic__button {
    position: relative;
    top: 200px;
    left: 50px;
  }
  .settings__button {
    position: relative;
    top: 0;
    left: 40px;
  }
}